*.pyc
*.o
*.so
*.swp
*.png
*.jpg
*.bmp
*.out*
*.dat*
*.report
__pycache__
build
static

# virtualenv
.python-version

# Distribution / packaging
MANIFEST
*.idea

# python Virtualenv
venv/

# flask secret info
agent/app/secrets.json

# django secret info
*.log
*.pot
*.pyc
__pycache__/
guider_web/guider_web/secret.json
db.sqlite3

# vscode
.vscode/
